[2017-03-23 07:27] cliftonc opened #1 "Persistence"
Thanks for making this library.

Is there any way to serialise the structures into something (e.g. json or a base64 encoded string) so that it can be persisted somewhere and re-instantiated?

[2017-03-23 09:07] Callidon commented on #1
Thanks to you for using it ;)

Serialise structures can be sure be handy. I see how it can be done easily, so I will be working on it where I have a little spare time.

I think that a support for serialisation into/from JSON should be enough, as if you have a JSON string, you can generate yourself the associated base64 encoded string.

[2017-03-27 10:48] Callidon commented on #1
Added functionality for import/export from/to JSON with 9ee6c9cdd4796c76a6025260fa036bd3efc4658e

Usage:
[code]

This example has been added to the README

[2017-03-27 10:48] #1 closed

[2017-03-27 17:48] cliftonc commented on #1
Perfect - thanks for the fast response!

[2017-03-28 06:45] Callidon commented on #1
I've also updated the npm release from 0.4.1 to 0.5.0, don't forget to upgrade your dependencies! :octocat:

[2018-03-21 10:45] andrey-p opened #2 "Exported JSON isn't portable"
I was evaluating this library for a project I'm working on, where I need to export the bloom filter as a file, store it, then load it again from the file.

If I try using `saveAsJSON()`, the binary data is stored as an array of booleans, which, when saved to a file, looks like this:

[code]

The bloom filter for a 25mb dataset ended up being ~120mb!

It would be nice to be able to save the file in

[2018-03-21 12:02] Callidon commented on #2
Hi,
Indeed, I noticed that the raw filter is stored as an array of boolean, which is pretty terrible when serialized into a JSON string. One easy solution is to use 0 and 1 to replace booleans, which will not require much work. I will fix this as soon as I have more spare time for this project (in about 2 weeks max I think).

Additionally,  I was also considering to use protocol buffers for a more

[2018-03-28 10:21] Callidon commented on #2
Hi again,

I just published a new version of the package (v0.5.2) with 9cbc9afd303bc8a53b4f742c6700a62ad98d90be, which uses integers instead of boolean for coding bloom filters.
Can you please update your project and report the impact on your test dataset ?

[2018-04-08 10:06] Callidon commented on #2
Issue closed due to the lack of reaction from the original author

[2018-04-08 10:06] #2 closed

[2019-02-27 09:25] deepak-ranolia opened #4 "ERROR TypeError: "bloom_filters__WEBPACK_IMPORTED_MODULE_2__ is not a constructor""
In angular project
Step 1 : run **_npm install bloom-filters --save_**
Step 2: Add _**"node_modules/bloom-filters/bloom-filters.js"**_ in angular.json
Step 3: Import in component file as _**import * as BloomFilter from 'bloom-filters'**_

my package.json is
{
  "name": "",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",

[2019-02-27 09:36] Callidon commented on #4
You are not using the package like it should be used. The `bloom-filter` package exposes several data structures. Thus, with `import * as BloomFilter from 'bloom-filters'`, you are importing all of these structures and not the `BloomFilter` one.

Futhermore, this is an issue related to your usage of Webpack, and not to this package.

You should follow the README more closely. The following code sh

[2019-02-27 12:30] #4 closed

[2019-08-30 08:16] simone0893 opened #7 "Counting bloom filter"
Hello,

is there any chance that you could implement a counting bloom filter?
Would be great!

Thanks in advance!

[2019-09-01 09:22] Callidon commented on #7
Hello

Yes, we could definitively implement a counting bloom filter. I could be a great addition to this library.
I will put this on our todo list, so we should have implemented it under a few weeks.

I will keep you updated!

[2019-09-11 11:36] Callidon commented on #7
Hello again

Counting Bloom Filters have been implemented and released in v0.7.1 🎉
The documentation is up to date and the README has been updated.
Feel free to report any bug/implementation mistakes if you find some!

Have fun :octocat:

[2019-09-11 11:36] #7 closed

[2019-09-12 07:01] folkvir opened #8 "Todo list"
- [HyperLogLog](http://algo.inria.fr/flajolet/Publications/FlFuGaMe07.pdf)
- Top-K or Mine Top-K: _Using Bloom Filters for Mining Top-k Frequent Itemsets in Data Streams, Younghee Kim et Al._
- Min Hash [Wikipedia source](https://en.wikipedia.org/wiki/MinHash), need to find the paper

Feel free to modify this list or add suggestions in comments.

[2019-09-25 19:31] mixdev opened #9 "Unexpected behaviour in CuckooFilter"
See the example. Many false positives (It happens especially after the first result in a row.) What am I doing wrong?

    const { CuckooFilter } = require('bloom-filters')
    let filter = new CuckooFilter(15, 3, 2)

     filter.add('alice')
     filter.add('andrew')
     filter.add('bob')
     filter.add('sam')

     filter.add('alice')
     filter.add('andrew')
     filter.add('bob')
     filte

[2019-09-27 12:08] folkvir commented on #9
We are investigating this. Thank you for sharing this unexpected behavior 👍

[2019-09-27 13:11] folkvir commented on #9
Thank you very much for sharing this issue.

The bug seems to come from our hashing library, you did nothing wrong.
Elements are hashed using either the 32 or the 64 bits. For some reason, a bug I guess, the 32bits version  returns only the hash created but not a 32 length version. It wont be a maximum of 32 elements for sure but can be less. For this reason I added leading zeroes to create a 32 l

[2019-09-30 17:17] folkvir commented on #9
Yes it should correctly work now.
Please verify by testing the master branch.
I also added two methods:
[code]

But you can still create the filter using the standard way if you want to customize all parameters.

[2019-09-30 18:03] mixdev commented on #9
Awesome. That was quick. Does it mean that it all other filters too work ok? I guess BloomFilter also had false positives. Sorry I don/t have the code now.

[2019-09-30 18:37] mixdev commented on #9
Just tried the master branch. Can conform that  the earlier code works fine.
    const { CuckooFilter } = require('bloom-filters')
    let filter = new CuckooFilter(15, 3, 2)

    for(i=20000; i<30003; i++) filter.add(i.toString());

    for(i=30000; i<30005; i++) {
	console.log(i,filter.has(i.toString()),filter.has(i.toString()),filter.has(i.toString()))
    }

<img width="251" alt="Screen Shot 2

[2019-09-30 21:37] folkvir commented on #9
This is the expected behavior yes. You inserted a lot of elements in a small filter and you get an error rate close to 1.
I suggest you to read the paper if you want to know how to tune these parameters. But in short:
[code]
It creates a CuckooFilter with an error rate of 0.01, a bucket size of 4 and  for 10 000 inserted elements.  Every Bloom Filter needs to be tune in order to accept a specified

[2019-10-01 17:16] folkvir commented on #9
It should be completely fixed. Thus I added new tests (for several filters) to ensure that the false positive rate stay correct for 1000 insertion and queries.

I will close this issue as everything is fixed now.
And will tag and push the master to **v0.8** soon (in the end of the week).
Meantime, if you have any problem relative to the master branch feel free to open an issue.

[2019-10-01 17:16] #9 closed

[2019-10-23 17:45] casret opened #10 "Question: v8 release?"
I would like to use a cuckoo filter, and saw some work on improving it (ergonomics, and looks like speed?) in the master branch that hasn't been released.  When do you think it will be in shape to go out?

[2019-10-24 06:29] folkvir commented on #10
We are working on the API and are a lot busy in work. For the moment you can try the master and fix the last commit as release.  If you plan to use only Cuckoo Filter, you can begin to write some stuff on your side. The API wont change in the future ;) But the rest will. So be careful.
The "v8" will be released soon certainly as the 1.0.0 as we have breaking API changes. I will close this issue wh

[2019-10-25 15:03] folkvir commented on #10
The master is now stable, future modifications will be documentation and comments.
A release should be done during the next week.

[2019-10-25 15:08] folkvir commented on #10
@casret The cuckoo filter has now a third argument for add method.
[code]
- THROW_ERROR when set to true throw an error instead of returning false
- DESTRUCTIVE when set to true  do not rollback on kicks if the filter is considered as full, aka the add( ) method throw an error or return false. By default,  it is set to false and the structure rollback to its initial state, before calling the metho

[2019-11-09 18:02] sansato commented on #9
can you publish v0.8 with the updates?

[2019-11-11 13:58] folkvir commented on #9
see #10

[2019-11-11 13:58] folkvir commented on #10
@Callidon Documentation pushed, can you bump the version?

[2019-11-11 14:07] Callidon commented on #10
The version has been bumped to 0.8 and published on NPM. Enjoy :octocat:

[2019-11-11 14:07] #10 closed

[2019-12-20 08:30] Chat-Wane commented on #8
I don't need it. I didn't try it. But for the sake of completeness: https://lemire.me/blog/2019/12/19/xor-filters-faster-and-smaller-than-bloom-filters/
Links to the paper and implementations (no js ones) are available there.

[2019-12-25 08:53] imcotton opened #11 "import / export BloomFilter not working as expected"
Hi, these functionalities seemed have issue:

https://github.com/Callidon/bloom-filters/blob/9dec78ea58f4651bfd5e05aa6b83df8ecad18a5a/src/bloom-filter.js#L79-L85

- `BloomFilter.create` should be the correct way to construct a filter since it calculates sizing internally, but forgot to save its `_errorRate` for serialization later on

https://github.com/Callidon/bloom-filters/blob/9dec78ea58f4651b

[2019-12-27 17:50] folkvir commented on #11
Thank you for sharing this. I will fix this tomorrow.

[2019-12-27 17:53] folkvir commented on #11
@imcotton is it the last available version btw? or an older one?

[2019-12-28 04:42] imcotton commented on #11
The latest version from the npm (0.8.0).

[2019-12-28 11:21] #11 closed

[2019-12-28 11:21] folkvir commented on #11
The proper way to create a bloom filter is using the current constructor if you want to customize the number of hash functions used or the size of the filter. But if you dont, use the static `.create()` function. So I deleted the _errorRate property. The rate is computed/choosed when you construct the filter. Even if you export and import the filter you should have the same error rate between thos

[2019-12-28 11:25] folkvir commented on #11
@Callidon Can you bump the version? Fix is pushed in the lasts commit. I bump the version to the 0.8.1.

[2019-12-28 14:14] Callidon commented on #11
The new version 0.8.1 is tagged and available on npm. Thanks @folkvir  for the fix!

[2020-04-01 07:37] yanshoutong opened #15 "failed to load bloom-filter module after npm installation"
[code]

but if I use the version 0.8.0 , it works well.

[2020-04-01 08:06] Callidon commented on #15
Hi,

Well, we forgot to update the `main` entry of the `package.json` file before releasing the version. I've just pushed a new version (`v1.0.3`) on npm that should fix this.

Could you please try again with the new version and report if the issue if fixed?

[2020-04-01 09:32] yanshoutong commented on #15
many thanks for quick fix :)

[2020-04-01 09:33] #15 closed

[2020-04-09 08:18] Callidon commented on #8
Some updates about that:
- The HyperLogLog has been implemented in release `v1.1.0`.
- The TopK has been implemented in release `v1.2.0`. It uses a Count Min Sketch for frequency estimation and a Minheap for implementing a sliding window of values.

[2020-04-22 07:14] Callidon commented on #8
Updates, updates: The MinHash as been released in `v1.3.0`!

[2020-11-24 01:15] ShisiJu commented on #8
Thanks for your jobs.

[2021-03-01 23:35] stbrody opened #20 "saveAsJSON() method not found"
The [README](https://github.com/Callidon/bloom-filters#export-and-import) says that you can call `.saveAsJSON()` on any bloom filter to get a serialization of the bloom filter state that can be persisted or sent over the network.  When I try to use it, however, my Typescript code fails to compile with the error: `error TS2339: Property 'saveAsJSON' does not exist on type 'BloomFilter'`.

My code l

[2021-03-01 23:38] stbrody commented on #20
When I look at the `bloom-filter.d.ts` file within my node_modules that was set up by NPM, I don't see a `saveAsJSON` method in the BloomFilter class.  Similarly, looking at the [bloom-filter.ts source file](https://github.com/Callidon/bloom-filters/blob/d50fa999ff5bb153b9577acec5dc6cd39b4ef124/src/bloom/bloom-filter.ts#L43), I don't see one there either.  So it makes sense that the node compiler

[2021-03-02 17:25] Callidon commented on #20
The method exists for all classes in the package, but I think the latest rework might have removed the method from the definition files, which causes your TypeScript compiler to fail.

I can't promise that we can provide a fix quickly, because we now have very little time to work on open source projects (sadly). But I will definitively look into it, because that 's a rather nasty bug !

[2021-03-07 00:03] folkvir commented on #20
@Callidon I think adding `saveAsJSON` and `fromJSON` into the base-filter as simple abstract methods will solve our problem.
Those methods will be modified by the auto-exportable decorator anyway.

[2021-03-07 00:49] folkvir commented on #20
@stbrody Please, can you test the following branch? https://github.com/Callidon/bloom-filters/tree/fix_saveasjson
Everything should work correctly.

[2021-03-10 23:49] stbrody commented on #20
@folkvir @Callidon, sorry I just got to looking at this again.  I tried upgrading the package to version 1.3.2 and things are actually worse now.  There's no longer a compilation error on `saveAsJSON` or `fromJSON`, but now any time I try to call the `.has()` method on a filter parsed out from `fromJSON` I get a new compilation error:
[code]

Looks like because [fromJSON](https://github.com/Callid

[2021-03-12 21:41] folkvir commented on #20
Well, do you still have the issue with this PR? https://github.com/Callidon/bloom-filters/pull/22
The problem is that the method is overrided by a templated decorator which actually returns the correct object but is detected by the compiler as a void one. It should now be a Basefilter which can be easily casted as a BloomFilter as explained in the PR.
But it still requires you to cast the object i

[2021-03-13 15:00] stbrody commented on #20
Yeah, I guess that makes it a little better, but it would be nice not to have to cast at all.  If `BaseFilter` actually had definitions of the common bloom filter functions (add, has, remove) that are shared by all the filter implementations then you could use what is returned from `fromJSON` directly without caring about what underlying filter type is being used.

[2021-03-14 17:55] folkvir commented on #20
I agree with your point of a non-casting obligation but BaseFilter is a super class defining seeding properties of every bloom filters. It does not have any specific method. So I need to find another method dealing with decorators and templates.

[2021-03-15 22:33] folkvir commented on #20
@Callidon @stbrody Unfortunately with our templating methods and decorators we cannot make a small change without redefining fromJSON in all Filters of the project.  So in the last commit I defined the return type of `fromJSON` to `any` this way you can have type definitions only in two ways.
* `const b: BloomFilter = BloomFilter.fromJSON(bloomJSON)`
* `const b = BloomFilter.fromJSON(bloomJSON) as

[2021-03-18 10:07] folkvir commented on #20
@stbrody You can upgrade to 1.3.3.
Thank you @Callidon

[2021-03-18 10:07] #20 closed

[2021-05-09 07:14] Callidon opened #28 "Implements Scalable Bloom Filter"
From #8 , we need to implements Scalable Bloom Filter, since the partitioned bloom filter is fixed now the Scalable bloom filter can be easily implemented.

[2021-05-09 07:16] Callidon opened #29 "Add Xor Filters"
As pointed in #8 we can add Xor Filters to the library

See https://lemire.me/blog/2019/12/19/xor-filters-faster-and-smaller-than-bloom-filters/ for more details

[2021-05-17 14:55] folkvir commented on #29
For copyright, there exists one C-header only impl: https://github.com/FastFilter/xor_singleheader
A pure-python impl as well as a binding could be possible.

[2021-05-26 06:41] annekebr opened #32 "Question: How did you compute or from where did you take the formula for the filter size?"
Hi there,

thanks a lot for your work! Until now I wasn't able to comprehend or find an explanation for the formula of the optimal size of the bloom filter here: https://github.com/Callidon/bloom-filters/blob/680f534181a88516ab6f4ac83f7a5d482e1f7757/src/formulas.ts#L41. Could you maybe give me a hint how to recompute it or point me to a paper?

Thanks a lot!

[2021-05-27 09:24] annekebr commented on #32
got it! closing it now :)

[2021-05-27 09:24] #32 closed

[2021-06-21 13:13] kblauhut opened #34 "Bug: Endless recursion in getDistinctIndices with certain parameters."
**Explanation**
The ```getDistinctIndicesBis``` function within ```getDistinctIndices``` will fail with a Maximum call stack size exceeded error when there are too few distinct indizes being returned while n < size.

**How to reproduce**
[code]
This code will trigger the issue.

**Why does this happen?**
[code]
[code]
This combined with the filtering of double indizes in ```getDistinctIndicesBis``

[2021-06-22 06:53] danielaugustin commented on #34
For every `n >= size` the function `hashTwice` does produce the same hashes (`hashA` and `hashB`) for every `n`.

If `n >= size` and `hashB` is dividable by `size` the function `doubleHashing` returns the same index for every `n`. This will always produce the same parameters for the recursive calls (`getDistinctIndicesBis`), resulting in a stack overflow.

**Example (`hashA=23, hashB=21, size=7` =

[2021-06-23 09:30] folkvir commented on #34
Thank you for sharing this, I will investigate this and post news as soon as possible.

[2021-06-23 12:54] folkvir commented on #34
Back, Fix pushed in branch fix-34 https://github.com/Callidon/bloom-filters/tree/fix-34
Is it possible to test it with a production test?

The difference is the `hashTwice(elem, true, seed! + (size % n))` which is now `hashTwice(elem, true, seed! + size + n)` and is now a classic while loop instead of a recursive function.

You have to know that generating distinct indexes using this technique is

[2021-07-07 07:12] folkvir opened #37 "Class Visibility: private -> public/protected?"
Tracking posted by @folkvir in https://github.com/Callidon/bloom-filters/issues/31#issuecomment-875346545_

As explained earlier the visibility of all classes limits the extended capabilities of our own class.
I suggest to change private properties to protected and add getters and setters to all members when possible.

[2021-07-07 18:08] #34 closed

[2021-07-15 16:35] baslr opened #38 "[Bug?] npm install produces only a api.js file"
`npm install` installs version `1.3.7`.
The npm package only contains a `api.js` in the `dist` directory. Did I missed something?
The package can not run because all files that are required in the  `api.js` file are not there.

[2021-07-18 08:11] Callidon commented on #38
Hi, indeed there is a serious bug with the `1.3.7`, I've managed to reproduce it locally. I will look into this right now and release a new mini version when it's corrected.

Sorry for the inconvenience, and thank you for reporting this bug!

[2021-07-18 08:23] Callidon commented on #38
Well, that's an embarrassing one 🤣
The project was missing a `.npmignore` file, which is required when using `yarn`. Otherwise, it will default to the `.gitignore` file during release and ignore the distribution files located in the dist folder. I've added a `.npmignore` file that should do the trick.

@baslr I've released a new version 1.3.8, can you please test if everything is working as intend

[2021-07-19 17:07] folkvir commented on #38
@Callidon I confirm a `npm install bloom-filters` is sane and in 1.3.8

[2021-07-19 17:07] #38 closed

[2021-11-25 16:55] dleppik opened #42 "Compact serialized form for BloomFilter"
The serialized form of BloomFilter is often larger than the original data. I haven't tested in-memory usage, but since it uses an array of 64-bit 1's and 0's, the same is likely true. This implies that there is no advantage to a BloomFilter over a JavaScript Set when hashing short strings.

For example, an 8.2 Mb file (3.6 Mb gzip compressed) of 1 million leaked passwords serializes to 27 Mb (2.3

[2021-11-26 07:37] Callidon commented on #42
Hello

Indeed, that's a bit of an issue. It's great if you already found a solution. Your implementation idea seems good, so feel free to send a pull request with the final version 👍

On a side note, do you think this issue can happen with other data structures in the framework, aside from bloom filters? And if so, do you think your fix can be applied too?

[2021-11-26 17:35] SimonWoolf opened #43 "Question about implementation of double hashing"
Hi. I'm just looking into the hashing implementation here and I'm baffled by several aspects of the implementation, hoping you can tell me if there's anything I'm missing.

For example, in getIndices, you're rehashing the input on every iteration of the loop: https://github.com/Callidon/bloom-filters/blob/5c81fa4054465f446e3bb1606ddeceffdb907d81/src/utils.ts#L206-L209

Surely this defeats the poin

[2021-11-26 18:59] dleppik commented on #42
Looks like I need to be a collaborator to do a pull request.

This can be applied as a drop-in replacement anywhere that you're just storing booleans. So, for example, you can't use it for a counting Bloom filter. However, the general principal applies. If your counting Bloom filter only counts up to 255, you can replace the array with a Uint8Array.

Right now you're using 64-bit Floats for everyt

[2021-11-27 08:56] Callidon commented on #42
Nice news 😃 You should be able to do a pull request If you first fork the repository and then request a PR from it. Otherwise, I will look into this when I have some spare time next week. I'm very interested in generalizing this idea to as many data structures as possible because the memory gain will be significant.

[2021-11-27 09:52] folkvir commented on #42
Except for IBLTs where Buffers are used, it might be worth to implement all structures with Uint8Arrays yes! But it must be usable in both server and browser sides, the library is used on both sides so the optimized structures must be usable in both environments. Another question, 0s and 1s where used primarily for simplicity of implementations but it is also useful for using the structure back an

[2021-11-27 16:18] dleppik commented on #42
So long as you avoid 64-bit numbers, support goes all the way back to IE 10.

I’m getting a 403: Forbidden error when I do a pull request. I’m pretty sure I need to be listed as a collaborator.

--
David Leppik                                     http://www.leppik.net/david/
***@***.***

 "As a computer shrinks, the gravitational force that its components exert on one another becomes stronger and

[2021-11-30 11:51] folkvir commented on #43
Does your question is more about the randomness property of having "random, uniform, and independent hash functions h1 and h2" for before computing the double hashing? Or more focused on the fact we're rehashing `hashCount` times to get our indexes?

[2021-11-30 12:12] SimonWoolf commented on #43
This. (2*hashCount, actually).

My understanding is that double-hashing lets you simulate _k_ independent hash functions gᵢ(x) (1 ≤ i ≤ k) of some input x (to an output set of size _m_) with only two actual hash calculations, by taking gᵢ(x) = h₁ + _i_ h₂ mod _m_ (maybe plus some quadratic or cubic term as well). For example, you could simulate 10 independent hashes with only two actual hash calcu

[2021-12-01 13:28] folkvir commented on #43
Yes you're right! We should only hash once for getting our indexing.
Thank you for your question it seems that something went wrong and it has to be fixed 👍

In the commit I referenced I fixed how indexes are generated and replace `getDistinctIndexes` with `getIndexes` in most of the structures.
Usage of `getIndexes` is preferred, except for IBLTs where distinct indexes need to be generated.

The

[2021-12-02 14:42] SimonWoolf commented on #43
It's not a matter of "less iterations". You're getting into a cycle where h₂(x) == 0 mod 7, you could do 10^100 iterations and it would still never generate an index other than 4. The reason you're getting into a cycle is that you're adding 1 to the second hash (4098376680), which gives 4098376681, which is divisible by 7. This breaks the requirement for double hashing that h₂(x) must be coprime w

[2021-12-02 17:47] SimonWoolf commented on #43
Tweaked my double hashing implementation: https://github.com/ably-forks/bloomit/blob/9cacea1cd1637b60be486dd15e8703b48b160aaa/src/utils.ts#L106-L141 (that's on the xxhash version, for a pr to bloomit). Properly implements enhanced double hashing, rehashes at most once every _size_ iterations (which should be almost never, only on pathological inputs).

[2021-12-02 21:48] folkvir commented on #43
Ahah 👍  we worked exactly on the same thing but in different ways, and I'm actually surprised by yours. I agree,  this will almost never happen because the number of hash functions is not very high in practice. I mean, I never see someone setting a hashCount of 1000. But just in case it will work.
Do you accept a merge of your work here? (see last commit, authorship added)

[2021-12-03 21:29] SimonWoolf commented on #43
Sure, go for it

[2021-12-05 02:13] Eric24 opened #45 "Question about selecting the size and hash values for a classic Bloom filter"
Is there any guidance on optimal values for size and hash when creating a classing Bloom filter (or similar for the other types)? Also, what specifically does "size" refer to (number of entries, bytes, etc.)?

[2021-12-05 09:04] Callidon commented on #45
Hi 👋

According to scientific literature, there are several ways of computing the optimal number of hash functions, depending on what you want to optimize. For example, if you know the maximum number of items that the filter will hold, you can optimise for a precise error rate. That's exactly what the `BloomFilter.create` function does. Internally, we use the [`optimalHashes` function](https://git

[2021-12-05 16:25] Eric24 commented on #45
@Callidon - Thank you for the quick and detailed response!

I think for my particular use-case I can't use the `create` or `from` methods, because I won't know the full list of items in advance. My use-case is to check for the possibility that a key already exists in a database as it's being imported. There could be millions of records (my example set has about 4 million). Each should have a uniqu

[2021-12-06 10:52] Callidon commented on #45
From what you are describing, it looks similar to what distributed databases like HBase or Cassandra do: they use a bloom filter for caching index access per key, to avoid cost access to disk. For that, a classic bloom filter should do the job just right.

To calibrate the filter size and number of hash function s, I think you should benchmark it, using samples of data with different sizes and con

[2021-12-07 10:50] folkvir commented on #45
If you can partition your data then @Callidon is right. Multiple classic Bloom Filters could do what you want and a benchmark is needed for calibrating the parameters. Otherwise one filter with `.create(dbSize, errorRateDesired)` should do the trick. Be careful, a low error rate will increase significantly the size of the filter.
Just an example, consider this as a beginning of a benchmark with a

[2021-12-07 10:50] #45 closed

[2021-12-11 23:24] bacloud14 opened #47 "[Question] Applying TopK on an endless stream doesn't blow memory ?"
Also I'm trying to implement top searches on a website, so is it a good idea to implement TopK ?
How to proceed with cache in this case also ?

Thanks a lot !

[2021-12-12 12:41] bacloud14 opened #48 "[Question] Has bloom filters a higher probability of collide when strings are similar"
Because if it is the case, this really suits my need.

I'm trying to discover popular searches on a website. For this, I'm using TopK algorithm which is based on Bloom Filter hashing.

I don't want "Hello world" and "hello world" to be count twice. So if it is a collision, that would be really appropriate for my use case.

Thanks a lot @Callidon !!!

[2021-12-12 13:15] bacloud14 commented on #48
if not, how can I replace the Hash function used with another one more permissive

[2021-12-13 07:32] Callidon commented on #48
Hi 👋
Thank you for your interest in our library!

Under the hood, we are using [xxHash](https://github.com/Cyan4973/xxHash). Their website contains a full benchmark, including collision probabilities. You should be able to find all information you need there.

You can change the seed used by the hash functions, but I'm afraid we do not have an API for swapping the hash function. The reason is that

[2021-12-13 07:52] bacloud14 commented on #48
Hello @Callidon
Thank you so much for your reply.

Ok then I will not mess with the hash function itself. I will pre-run a similarity detection on my stream (which is a stream of strings).

Thanks!

[2021-12-13 07:53] #48 closed

[2021-12-13 15:18] folkvir commented on #48
In newer version (soon I hope) you'll have the possibility to override a function for using any custom hash functions as long as you return a value of type `Number`.

[2021-12-13 15:27] bacloud14 commented on #48
Thanks @folkvir , I'll keep an eye. for now, I will be running a [similarity String](https://github.com/Glench/fuzzyset.js) prior to feeding topK. Very close Strings would be converted to the same String.
My case is looking for top searches on a website by the way.

Many thanks again!

[2021-12-16 17:47] #47 closed

[2021-12-17 08:51] folkvir commented on #29
Just for references, the official accepted paper :
* `Graf, Thomas Mueller, and Daniel Lemire. "Xor filters: Faster and smaller than bloom and cuckoo filters." Journal of Experimental Algorithmics (JEA) 25 (2020): 1-16.`
* [full article](https://arxiv.org/pdf/1912.08258)
* Official github of the author https://github.com/FastFilter/xorfilter

[2021-12-28 10:47] #42 closed

[2021-12-30 20:40] stbrody opened #49 "Filters created with version 1.3.4 and exported to json do not work when imported to version 1.3.9"
We use this library in as part of the [Ceramic Network](https://ceramic.network).  We are publishing batches of work done on the network along with a JSON-serialized bloom filter to make it easier to look up what happened in that batch.  Our hosted service making these batches and publishing these bloom filters seems to be using version `1.3.4` of the `bloom-filters` package.  Importing those bloo

[2021-12-30 20:41] stbrody commented on #49
This is pretty severe and critical for us.  We rely on the bloom filters we export to json to remain valid and usable for the forseeable future.  If you are changing the internal representation of the filters in a way that makes them not backwards-compatible with the json serialization from old versions, please add a versioning system into the json serialization and continue to support old formats

[2021-12-31 01:02] folkvir commented on #49
Problem comes from fix #36, hashes are done in a different way and therefore backward compatibility is not maintained between the two versions. We should have majored the version. Sorry for the inconvenience.

@Callidon do you agree this analysis?

[2021-12-31 09:51] folkvir commented on #49
Because of the hashing, `getDistinctIndices` could in your version cause infinite loop in some circonstance. Such behavior is removed since version 1.3.7.

As a replacement we could add a BloomFilterV136 class with all the old code in the class for backward compatibility. But such solution must be maintained and shared across all the new versions. Plus you have the bug risks.
Plus, since `getDisti

[2021-12-31 16:52] stbrody commented on #49
Then we're stuck on 1.3.4 forever.  We *want* to upgrade to the new version and be able to take advantage of the bug fixes and perf improvements you all are making.  We make new filters several times a day and would be happy for the newly created filters to always be on the most up-to-date version with all the latest fixes and improvements.  The problem is we can't lose the ability to load the pre

[2022-01-02 10:52] Callidon commented on #49
Hi 👋

After discussion with @folkvir, we've agreed that it was a mistake on our side to tag the changes to the hash algorithm as a minor version. It should have been tagged as a major version, due to the breaking changes regarding JSON serialization. I apologize for the error, and the inconvenience following it. Since the next release is going to be a major one, it is going to resolve itself on th

[2022-01-04 19:55] stbrody commented on #49
Okay, we will work around this on our side then.

In the meantime, would you mind doing a 1.3.10 release that restores compatibility of importing data created with version 1.3.4 before you do the 2.0.0 release with the bug fix and breaking format change?  So that way the old major version sequence continues to be backwards compatible and we don't risk upgrading to a version that breaks compatibili

[2022-01-05 14:57] folkvir commented on #49
Let me try something, then I'll ask you to try the solution on your side. If it is working we will discuss of a possible integration with @Callidon.

[2022-01-05 19:08] folkvir commented on #49
Back, I pushed something in the develop branch. The package will be the 2.0.0 with or without the fix. As I said we will discuss it with @Callidon to integrate it or not. Meanwhile, you can try the develop branch.

The new BloomFilter integrate a new structure to store the data with a Bit Set.
* You should be able to import it from your version.
* You won't be able to export it to your current ver

[2022-01-05 20:14] stbrody commented on #49
Hmm... @folkvir, if I'm understanding this right, it looks like I still need to know whether or not my filter was created with the old version or not so I know whether or not to switch to the old implementation of getIndexes.  If the library doesn't handle version detection and compatibility internally, then that means my application still needs to be responsible for keeping track of which version

[2022-01-06 12:22] folkvir commented on #49
Yes exactly you need to make the versionning yourself. Here the problem is that changes made on how indexes are generated cannot be backward compatible. It does not affect only the BloomFilter but every single class using the old `getDistinctIndices` function in version <1.3.7. Plus, We have no clue of the version used by people in the exported filter. So the only way for people to continue to use

[2022-01-07 20:59] stbrody commented on #49
I wonder if a reasonable compromise would be to include the version used in the json metadata when exporting a filter, but not necessarily commit to automatically supporting all previous versions.  But you could at least throw a useful error message when trying to re-create a filter from a version that is no longer supported, rather than just silently returning incorrect data.

[2022-02-13 14:35] folkvir commented on #29
integrated in develop, will be pushed in v2.0.0

[2022-02-18 09:34] #43 closed

[2022-02-18 09:49] Callidon commented on #8
Update: **XOR filters** has been released in the `2.0.0` version of the npm package, following #52 merge.

[2022-03-11 23:03] stbrody commented on #49
Thanks for letting me know @Callidon.  We've decided though to write down the exact package version number alongside every bloom filter we create so when we need to read them later we can always use the exact version they were created with.  I don't think the approach implemented here really helps us as you still need to know what version the filter was created with so that you know whether or not

[2022-03-12 10:47] Callidon commented on #49
Okay, thanks for your feedback. I'm closing the issue, since we have both fixed it on your sides. Feel free to re-open it if you find any more issues.

[2022-03-12 10:47] #49 closed

[2022-03-26 13:23] #28 closed

[2022-03-31 07:42] folkvir commented on #8
Update: the **Scalable Bloom Filter** with optimization and bug fixes have been released in [version 3.0.0](https://github.com/Callidon/bloom-filters/releases/tag/v3.0.0)

[2022-04-11 08:23] hipstermojo opened #56 "`Buffer is not defined` error when using in the browser."
Hi I was trying to create a `BloomFilter` instance in the browser and it keeps throwing the error `Buffer is not defined` error even though I'm only importing the `BloomFilter` export which doesn't use the Buffer class.

Is there a workaround for this?

I'm using the library with the vite bundler on firefox 99, if that helps.

[2022-04-11 09:54] folkvir commented on #56
Hi! Thank you for reporting. Is this the latest version?

[2022-04-11 09:58] hipstermojo commented on #56
yes it's on version 3.0.0

[2022-04-11 10:27] folkvir commented on #56
A browserify build succeeds for me for the 3.0.0.

`browserify -r ./dist/api.js:bloom-filters > bundle.js` with the following html file:
[code]

[2022-04-11 10:34] folkvir commented on #56
Some polyfills are automatically added when using browserify such as the Buffer one.
When importing the package you should import using the "bloom-filters/bloom/bloom-filter.js" syntax instead of `const = {...} = require('bloom-filters')` if you want only the BloomFilter class. Otherwise you'll get all the cose, and your compiler will surely stuck on the Buffer part used in other modules.

[2022-04-11 10:37] folkvir commented on #56
I close the issue since it is not a bug, feel free to continue the discussion!

[2022-04-11 10:37] #56 closed

[2022-08-21 05:05] adevine commented on #8
Hi @Callidon and @folkvir - thanks for a really useful library!

I had a suggestion for an additional data structure, as well as a suggestion for improvement on the CountingBloomFilter.

I have a need for a Time-To-Live, or "expiring", CountingBloomFilter. That is, when entries are added to the CountingBloomFilter, they will automatically be removed after some number of milliseconds. In addition,

[2022-08-31 15:52] kabapy opened #57 "Error in Browser Chrome 105"
environment is a quasar+vite+vue3

vue-router.mjs:3428 ReferenceError: Buffer is not defined
    at cell.js:178:76
    at node_modules/bloom-filters/dist/iblt/cell.js (cell.js:200:1)
    at __require (chunk-OL3AADLO.js?v=aca5486d:9:50)
    at node_modules/bloom-filters/dist/iblt/invertible-bloom-lookup-tables.js (invertible-bloom-lookup-tables.js:84:30)
    at __require (chunk-OL3AADLO.js?v=aca548

[2022-08-31 16:54] kabapy commented on #57
Found a fix
https://github.com/feross/buffer

you have to install a polyfill for Buffer
`npm install buffer`

then import it in main.js and make it global using
`import { Buffer } from "buffer";
window.Buffer = window.Buffer || Buffer;
`

[2022-09-05 08:09] folkvir commented on #57
Yes this is the fix. You cannot actually import all the modules in a browser but you can import some without polyfills. For the Invertible Bloom filter yes you need to install this package for a browser usage. See the warning https://github.com/Callidon/bloom-filters#invertible-bloom-filters

[2022-09-05 08:09] #57 closed

[2022-11-15 01:13] zxpectre opened #58 "Serialized filters: are safe to expose publicly?"
Hi, im working on a blockchain, on-chain scallable filtering solution, and I wish to know if an attacker could get advantages if the entire serialized filter is stored publickly.

If thats the case, are there any suggestions to follow, like keeping some parts of the filter off-chain maybe? filter should be exposed somehow to decentralize the filtering.

The error rate should stay the lowest and fi

[2022-11-15 10:24] folkvir commented on #58
Yes, most filters use the error rate to initialize their size. So an error rate of 0 means most-likely an infinite size due to `Math.log(0) = -Infinity`

IMHO, exposing completely the filter might not be a good idea because the seed is exposed. But if you keep the seed hidden and customize the hash functions to be different of what is used in this package (because it is open-source) you may succee

[2022-11-15 18:05] zxpectre commented on #58
Thanks for the detailed response, will follow your suggestions, it's a pitty because would be nice to count on a publicly audited bloom filter based protocol for this but is mainly a check on a sorted set of transaction hashes and merkle trees somehow are not fitting well due to proof sizes and the requirement of counting with the entire tree in order to generate proofs. Bloom filters seems a good

[2022-11-16 09:29] folkvir commented on #58
If you have problems of comparing sets I suggest you to read the Invertible Bloom Filter (or invertible bloom lookup tables; IBLTs) part of this project. You'll find O(d) space comparisons. It is very useful if you have append-only sets. Thus it is very space efficient, e.g.: if you  have synchronization between remote sites and have for example 10 updates before each synchronization then, you can